<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="none">
  <test name="White Elephant Drawing Tests">
    <groups>
        <define name="all">
            <include name="performance" />
            <include name="invalid" />
            <include name="valid" />
        </define>
        <run>
            <include name="all" />
        </run>
    </groups>
      
    <classes>
      <class name="com.sorenson.test.DrawingTest"/>
    </classes>
  </test>
</suite>
